.moodSection {
  display: inline-flex;
  justify-content: space-evenly;
  width: 100%;
  .moodItem {
    height: 5em;
    padding: 1em;
    width: 4em;
    cursor: pointer;
    .mat-icon {
      font-size: 5em;
    }
  }

  #very_satisfied {
    color: #ffc30d;
  }

  #satisfied {
    color: #ff8900;
  }

  #dissatisfied {
    color: #693bb8;
  }

  #very_dissatisfied {
    color: #122eb3;
  }
}
