.blogPostWrapper {
  border-radius: 1em;
  .headerImg {
    width: 100%;
    height: 20em;
    overflow: hidden;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }

  .headingSection {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 1em;
  }
  .contentSection {
    margin: 1em;
  }

  .sources {
    display: flex;
    justify-content: center;
    margin: 1em;
    padding: 1em;
  }
}
