<div class="homeWrapper">
  <div class="headerImg">
    <img src="assets/WasGeht_V1.png" alt="" />
  </div>
  <div class="wasGeht">
    <h2>Was geht heute?</h2>
    <div class="buttonRow" [class]="{ selected: whatToDo }">
      <button
        mat-raised-button
        [class]="{ active: whatToDo === 'self' }"
        (click)="selectDoing('self')"
        class="first"
      >
        Was für mich tun
      </button>
      <button
        mat-raised-button
        [class]="{ active: whatToDo === 'help' }"
        (click)="selectDoing('help')"
        class="second"
      >
        Was helfen
      </button>
      <button
        mat-raised-button
        [class]="{ active: whatToDo === 'do' }"
        (click)="selectDoing('do')"
        class="third"
      >
        Was machen
      </button>
      <button
        mat-raised-button
        [class]="{ active: whatToDo === 'know' }"
        (click)="selectDoing('know')"
        class="fourth"
      >
        Was wissen
      </button>
    </div>

    <div
      class="challengeCategory"
      *ngIf="whatToDo === 'do' && !challengeAccepted"
    >
      <div
        class="challengeCategoryItem mat-elevation-z2"
        (click)="selectChallengeType('dontgocrazymeal')"
      >
        <h2>Make a Meal</h2>
        <h3>#dontgocrazymeal</h3>
        <button
          mat-raised-button
          color="accent"
          (click)="selectChallengeType('dontgocrazymeal')"
        >
          Challenge accepted
        </button>
      </div>
      <div
        class="challengeCategoryItem mat-elevation-z2"
        (click)="selectChallengeType('dontgocrazystyle')"
      >
        <h2>Make a Style</h2>
        <h3>#dontgocrazystyle</h3>
        <button
          mat-raised-button
          color="accent"
          (click)="selectChallengeType('dontgocrazystyle')"
        >
          Challenge accepted
        </button>
      </div>
      <div
        class="challengeCategoryItem mat-elevation-z2"
        (click)="selectChallengeType('dontgocrazygame')"
      >
        <h2>Make a Game / Sound</h2>
        <h3>#dontgocrazygame</h3>
        <button
          mat-raised-button
          color="accent"
          (click)="selectChallengeType('dontgocrazygame')"
        >
          Challenge accepted
        </button>
      </div>
      <div
        class="challengeCategoryItem mat-elevation-z2"
        (click)="selectChallengeType('dontgocrazymove')"
      >
        <h2>Make a Move</h2>
        <h3>#dontgocrazymove</h3>
        <button
          mat-raised-button
          color="accent"
          (click)="selectChallengeType('dontgocrazymove')"
        >
          Challenge accepted
        </button>
      </div>
    </div>

    <div
      class="challengeCategory"
      *ngIf="whatToDo === 'help' && !challengeAccepted"
    >
      <div
        class="challengeCategoryItem mat-elevation-z2"
        (click)="selectChallengeType('dontgocrazyshareameal')"
      >
        <h2>Feed</h2>
        <h3>#dontgocrazyshareameal</h3>
        <button
          mat-raised-button
          color="accent"
          (click)="selectChallengeType('dontgocrazyshareameal')"
        >
          Challenge accepted
        </button>
      </div>

      <div
        class="challengeCategoryItem mat-elevation-z2"
        (click)="selectChallengeType('dontgocrazyask')"
      >
        <h2>Advice</h2>
        <h3>#dontgocrazyask</h3>
        <button
          mat-raised-button
          color="accent"
          (click)="selectChallengeType('dontgocrazyask')"
        >
          Challenge accepted
        </button>
      </div>

      <div
        class="challengeCategoryItem mat-elevation-z2"
        (click)="selectChallengeType('dontgocrazylisten')"
      >
        <h2>Listen</h2>
        <h3>#dontgocrazylisten</h3>
        <button
          mat-raised-button
          color="accent"
          (click)="selectChallengeType('dontgocrazylisten')"
        >
          Challenge accepted
        </button>
      </div>

      <div
        class="challengeCategoryItem mat-elevation-z2"
        (click)="selectChallengeType('dontgocrazyshopforsomeone')"
      >
        <h2>Help</h2>
        <h3>#dontgocrazyshopforsomeone</h3>
        <button
          mat-raised-button
          color="accent"
          (click)="selectChallengeType('dontgocrazyshopforsomeone')"
        >
          Challenge accepted
        </button>
      </div>
    </div>

    <!--
      Kategorie A. Feed: Share a Meal #dontgocrazyshareameal
      Kategorie B. Advice: Tipp geben #dontgocrazyask
      Kategorie C. Listen: Einfach mal zuhören  #dontgocrazylisten
      Kategorie D. Help: Run an errand #dontgocrazyshopforsomeone
      -->
  </div>

  <div class="self" *ngIf="whatToDo === 'self'">
    <h2>Motivation / Positive Reflexion</h2>
    <p>
      Im Alltag erleben wir viele schöne Dinge, aber sind uns dessen oft nicht
      bewusst. Deswegen ist es wichtig seine eigenen Ressourcen zu kennen. Die
      folgenden Fragen und Anregungen können dabei helfen, zum Erinnern und
      Nachdenken anregen.
    </p>
    <div *ngFor="let ressourciumItem of ressourcium$ | async; index as i">
      <app-ressourcium-item
        *ngIf="i == dailyData.ressourcium"
        [ressourciumItem]="ressourciumItem"
      ></app-ressourcium-item>
    </div>

    <div class="nextButton">
      <button
        mat-stroked-button
        color="primary"
        (click)="getNew('ressourcium', ressourcium$)"
      >
        Ich will ein andere Anregung
      </button>
    </div>
  </div>

  <div class="know" *ngIf="whatToDo === 'know'">
    <div *ngFor="let blogPost of blog$ | async; index as i">
      <app-blog-post
        *ngIf="i == dailyData.blog"
        [blogPost]="blogPost"
      ></app-blog-post>
    </div>

    <div class="nextButton">
      <button
        mat-stroked-button
        color="primary"
        (click)="getNew('blog', ressourcium$)"
      >
        Ich will mehr wissen
      </button>
    </div>
  </div>

  <div
    class="challenge"
    *ngIf="
      (whatToDo === 'do' || whatToDo === 'help') &&
      challengeType &&
      challengeAccepted
    "
  >
    <!-- <h2>Challenges</h2> -->
    <h3>#dontgocrazychallenge</h3>
    <div *ngFor="let challengeItem of challengeByCategory$ | async; index as i">
      <app-challenge-item
        [challengeItem]="challengeItem"
        *ngIf="i == dailyData.challenge"
      ></app-challenge-item>
    </div>
  </div>

  <div *ngIf="false">
    <h2>Mood</h2>
    <div *ngFor="let moodItem of mood$ | async">
      {{ moodItem | json }}
    </div>
  </div>
</div>
