.homeWrapper {
  display: flex;
  flex-direction: column;
  padding: 1em 0em;
  max-width: 920px;
  margin: 0 auto 5em;
  // background-color: rgba($color: #ffffff, $alpha: 0.5);
  // backdrop-filter: blur(2px);
  z-index: 1;
  min-height: 60vh;
  border-radius: 1em;

  .headerImg {
    width: 100%;
    z-index: -1;
    img {
      width: 100%;
      height: 40vh;
      object-fit: cover;
      // position: fixed;
      // left: 0;
      top: 5em;
      z-index: 0;
    }
  }

  .wasGeht {
    display: flex;
    flex-direction: column;
    // transform: translateY(-6em);
    z-index: 1;

    h2 {
      // background-color: #ffffff;
    }
  }
  .buttonRow {
    display: inline-flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 1em 0;

    button {
      animation: 0.5s fadeIn forwards;
      margin: 1em;
      min-width: 20%;
      width: 40%;
      height: 10em;
      @media screen and (max-width: 600px) {
        width: 90%;
      }
      background-color: #fff;
      &.first {
        background-color: #2798e970;
      }
      &.second {
        background-color: #37d48a70;
      }
      &.third {
        background-color: #c68bd370;
      }
      &.fourth {
        background-color: #f6d6e570;
      }

      &:hover {
        &.first {
          background-color: #2799e9;
        }
        &.second {
          background-color: #37d48a;
        }
        &.third {
          background-color: #c68bd3;
        }
        &.fourth {
          background-color: #f6d6e5;
        }
      }
    }
    &.selected {
      button {
        animation: 0.5s slideUp forwards;
        &.active {
          animation: 0.5s zoomIn forwards;
          animation: none;
          &.first {
            background-color: #2799e9;
          }
          &.second {
            background-color: #37d48a;
          }
          &.third {
            background-color: #c68bd3;
          }
          &.fourth {
            background-color: #f6d6e5;
          }
        }
      }
    }
  }

  .challengeCategory {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2em;
    margin-bottom: 2em;

    @media screen and (min-width: 600px) {
      grid-template-columns: 1fr 1fr;
    }
    .challengeCategoryItem {
      border-radius: 5px;
      padding: 1em;
      height: 10em;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      animation: 0.5s fadeIn forwards;
    }
  }

  .nextButton {
    display: inline-flex;
    justify-content: center;
    width: 100%;
    margin-top: 2em;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px) scale(0.9);
  }
  to {
    opacity: 1;
    transform: translateY(0px) scale(1);
  }
}

@keyframes slideUp {
  from {
    opacity: 1;
    transform: scale(1);
  }
  to {
    opacity: 0.8;
    transform: scale(0.9);
  }
}

@keyframes zoomIn {
  from {
    opacity: 1;
    transform: scale(1);
  }
  to {
    opacity: 1;
    transform: scale(1.1);
  }
}
