<div class="landingWrapper">
  <section class="landingSection">
    <div class="about">
      <div class="image">
        <img
          src="https://cdn.pixabay.com/photo/2013/07/12/17/51/linked-152575_960_720.png"
          alt=""
        />
      </div>
      <div class="content">
        <h1>Wer wir sind</h1>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat
          repudiandae in aperiam voluptatem laudantium iste sint nulla
          provident, amet aspernatur incidunt aut sapiente ex odio possimus fuga
          atque reprehenderit labore.
        </p>
      </div>
    </div>
    <div class="vision">
      <div class="content">
        <h1>Unsere Vision</h1>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum ea
          consequatur dignissimos vitae, temporibus nostrum. Nulla illo, odio
          nemo sit iure atque optio accusamus nihil doloremque, obcaecati
          provident reprehenderit eligendi!
        </p>
      </div>
      <div class="image">
        <img
          src="https://cdn.pixabay.com/photo/2016/02/19/10/00/binoculars-1209011_960_720.jpg"
          alt=""
        />
      </div>
    </div>
  </section>
  <section class="landingSection">
    <app-mood-form></app-mood-form>
  </section>
  <section class="landingSection">
    <app-kolumne></app-kolumne>
  </section>
  <section class="landingSection"></section>
</div>
