/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: "Rubik", Roboto, "Helvetica Neue", sans-serif;
  background: #fff;
}

.mat-typography {
  font-family: "Rubik", Roboto, "Helvetica Neue", sans-serif;
}
// html:not([data-scroll="0"]) {
//   nav {
//     .top {
//       #Layer_1 {
//         max-height: 3em !important;
//       }
//     }
//   }
// }

h1,
h2,
h3 {
  text-align: center;
}

.card {
  border-radius: 50px;
  background: #fff;
  box-shadow: 20px 20px 60px #489dcf, -20px -20px 60px #62d5ff;
  margin: 1em;
  padding: 1em;
}
